@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,300;0,400;1,500&family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --white: #fff;
  --pink: #ff74a4;
  --violet: #9f6ea3;
  --light-black: #515c6f;
  --dark-white: #cecaca;
  --pink-shadow: #ffcbdd;
  --light-shadow: rgba(0, 0, 0, 0.15);
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 350px;
  padding: 20px 30px;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0 6px 15px var(--light-shadow);
}
.top-bar,
.time,
.controller {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  color: var(--light-black);
}
.top-bar i {
  font-size: 30px;
}
.top-bar span {
  font-size: 18px;
  text-transform: capitalize;
}
.container i {
  cursor: pointer;
}
.song-image {
  height: 250px;
  width: 100%;
  border-radius: 15px;
  margin-top: 20px;
  box-shadow: 0 6px 15px var(--light-shadow);
  overflow: hidden;
}
.song-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.song-info {
  color: var(--light-black);
  text-align: center;
  margin: 10px 0;
}
.song-info .name {
  font-size: 22px;
}
.song-info .artist {
  font-size: 16px;
  opacity: 0.9;
}
.progress-area {
  width: 100%;
  height: 5px;
  background-color: var(--dark-white);
  border-radius: 15px;
  cursor: pointer;
}
.progress-area .progress-bar {
  width: 25%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(to right, var(--pink) 0%, var(--violet) 100%);
  position: relative;
}
.progress-bar::before {
  content: "";
  width: 12px;
  height: 12px;
  background: inherit;
  border-radius: inherit;
  position: absolute;
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.progress-area:hover .progress-bar::before {
  opacity: 1;
}
.time span {
  font-size: 14px;
  cursor: default;
}
.controller {
  display: flex;
  margin: 10px 0 5px 0;
}
.controller i {
  font-size: 25px;
  user-select: none;
  background: linear-gradient(var(--pink) 0%, var(--violet) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.controller i:nth-child(2),
.controller i:nth-child(4) {
  font-size: 40px;
}
.controller #previous {
  margin-right: -15px;
}
.controller #next {
  margin-left: -15px;
}

.controller .play-pause {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(var(--white) 0%, var(--dark-white) 100%);
  border-radius: 50%;
  box-shadow: 0 0 5px var(--pink);
}

.play-pause::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 45px;
  background: linear-gradient(var(--pink) 0%, var(--violet) 100%);
  border-radius: inherit;
}
.play-pause i {
  background: inherit;
  position: relative;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
